.footer {
  position: fixed;
  bottom: 0;
  min-width: 320px;
  width: 100vw;
  height: rem(45px);

  &__styled {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background: $black-color;
  }

  &__chat-button-wrapper,
  &__people-button-wrapper,
  &__chat-list-button-wrapper {
    margin: rem(3px 0 2px 0);
  }

  &__chat-button,
  &__people-button,
  &__chat-list-button {
    @include base-button;
  }

  &__chat-icon,
  &__people-icon,
  &__chat-list-icon {
    width: rem(40px);
    height: rem(40px);
  }
}
