// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  html {
    font-size: 19px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    font-size: 22px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }

  .header {
    min-width: 144px;
    width: 144px;
    height: 100vh;

    &__styled {
      flex-direction: column;
      //justify-content: normal;
      align-items: center;
      padding: 39px 42px;
    }

    &__avatar-wrapper {
      width: 60px;
      height: 60px;
      margin-bottom: 40px;
    }

    &__avatar {
      width: 100%;
    }

    &__username-wrapper {
      display: none;
    }

    &__sidebar {
      display: initial;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__sidebar-item {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__chat-button,
    &__people-button,
    &__chat-list-button {
      @include base-button;
    }

    &__chat-icon,
    &__people-icon,
    &__chat-list-icon,
    &__logout-icon {
      width: 60px;
      height: 60px;
    }

    &__logout-button-wrapper {
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: initial;
      height: 100%;
      margin: 0;
    }
  }

  .main {
    padding: 1px 82px 0 144px+82px;

    // Chat page
    &__request-card-message,
    &__response-card-message {
      margin-top: rem(15px) + rem(-15px);
    }

    &__input-chat-message-wrapper {
      bottom: 0;
      width: calc(100% - 144px);
      left: 144px;
    }

    &__send-chat-message-icon {
      width: 28px;
      height: 28px;
    }
  }

  .footer {
    display: none;
  }
}
