.main {
  &__chats-list-wrapper {
    padding: rem(16px 25px);
  }

  &__chat-list-card {
    @include small-card;
    justify-content: center;
  }

  &__chat-name-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__chat-name {
    @include regular-14-black;
  }

  &__persons-in-chat-wrapper {
    margin-right: rem(8px);
  }

  &__persons-in-chat-number-wrapper {
    display: flex;
    justify-content: center;
    margin-top: rem(2px);
  }

  &__persons-in-chat-number {
    @include regular-10-black;
  }
}
