.main {
  &__chat-cards-wrapper {
    padding: rem(16px 25px);
  }

  &__request-card,
  &__response-card {
    @include chat-message-card;
  }

  &__request-card-header {
    display: flex;
  }

  &__request-card-avatar-wrapper {
    margin-right: rem(8px);
  }

  &__request-card-username,
  &__response-card-username {
    @include regular-10-black;
  }

  &__request-card-message-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__request-card-message,
  &__response-card-message {
    min-width: rem(210px);
    margin-top: rem(-15px);
    @include regular-10-black;
    text-align: justify;
  }

  &__request-card-message {
    margin-left: rem(51px);
  }

  &__response-card-message {
    margin-right: rem(51px);
  }

  &__response-card-header {
    display: flex;
    flex-direction: row-reverse;
  }

  &__response-card-avatar-wrapper {
    margin-left: rem(8px);
  }

  &__input-chat-message-wrapper {
    position: fixed;
    bottom: rem(45px);
    width: 100%;
  }

  &__chat-message-input {
    @include base-input;
    text-align: left;
    width: 100%;
  }

  &__send-chat-message-button-wrapper {
    position: absolute;
    right: 12px;
    bottom: 2px;
  }

  &__send-chat-message-button {
    @include base-button;
  }
}
