@mixin base-font {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin regular-18-black {
  @include base-font;
  font-size: rem(18px);
  line-height: rem(21px);
  color: $black-color;
}

@mixin regular-14-black {
  @include base-font;
  font-size: rem(14px);
  line-height: rem(16px);
  color: $black-color;
}

@mixin regular-10-black {
  @include base-font;
  font-size: rem(10px);
  line-height: rem(12px);
  color: $black-color;
}

@mixin regular-14-black {
  @include base-font;
  font-size: rem(14px);
  line-height: rem(16px);
  color: $black-color;
}

@mixin regular-10-gray {
  @include base-font;
  font-size: rem(10px);
  line-height: rem(12px);
  color: $gray-color;
}

@mixin bold_14_white {
  @include base-font;
  font-weight: bold;
  font-size: rem(14px);
  line-height: rem(16px);
  color: $white-color;
}

@mixin regular_10_white {
  @include base-font;
  font-size: rem(10px);
  line-height: rem(12px);
  color: $white-color;
}

@mixin regular_14_white {
  @include base-font;
  font-size: rem(14px);
  line-height: rem(14px);
  color: $white-color;
}
